@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RegistrationModel
@{
    Layout = null;
}

<html>
    <head>
    <title>Admin Registration</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/sweetalert2/sweetalert2.css/" />

</head>
<body class="container">
    @{
        if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" role="alert">
            <p>@ViewBag.SuccessMessage</p>
            </div>
        }

        else if(ViewBag.ErrorMessage!= null)
        {
            <div class="alert alert-danger" role="alert">
            <p>@ViewBag.ErrorMessage</p>
            </div>
        }   

    }
    <h1>Admin Registration</h1>
   @using (Html.BeginForm("Index", "AdminRegistration", FormMethod.Post))
    {
        
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new{@class = "form-label"})
            @Html.TextBoxFor(m => m.Username, new{@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Username,"",new{@class = "text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new{@class = "form-label"})
            @Html.TextBoxFor(m => m.FirstName, new{@class ="form-control"})
            @Html.ValidationMessageFor(m => m.FirstName, "",new{@class = "text-danger"})
            
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <button type="submit">Register</button>
    }
</body>
</html>